#library {
  grid-column: 2/3;
  height: 400px;
}
#grid-container {
  width: 700px;
  height: 400px;
  margin-right: 20px;
  display: grid;
  grid-template-columns: 35% 65%;
}
#image-card {
  margin: 0;
}
#stats-card {
  margin: 0;
  width: 100%;
  font-size: 20px;
  display: flex;
  justify-content: center;
}

#poke-info-card{
  margin: 0;
  width: 100%;
  font-size: 20px;
  display: flex;
  justify-content: center;
}

#padding {
  padding: 10px;
}
#pokemon-form {
  margin: 20px;
}

#pokedex-data {
  width: 100%;
  display: inline-grid;
  grid-template-columns: 25% 37.5% 37.5%;
  margin-bottom: 20px;
}

#card-width {
  width: 32%;
}

#withdraw-button {
  width: 80%;
}
#spacing {
  margin: 4px 0 0 0;
}

#grid-2 {
  grid-column: 2/3;
  width: 455px;
  max-height:400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 5px outset #ff4e4e;
  border-top: 5px outset #ff4e4e;
  border-bottom: 5px outset #ff4e4e;
  border-left: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 2px 2px 5px 0px #cbcbcb;
  background-color: #ff6262;

}

#lib-img {
  max-width: 100%;
  max-height: 240px;
  padding: 15px;

}

#library-tabs {
  width: 90%;
  max-height: 330px;
  margin: 0px 20px 20px 20px;
}
#grid2-container {

  max-height: 330px;
  display: grid;
  grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
  grid-template-rows: 48.13px 48.13px 48.13px 48.13px 48.13px;
  overflow: scroll;
  border: 5px inset #ff4e4e;
}

#grid2-hidden {

  max-height: 330px;
  display: none;
  grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
  grid-template-rows: 48.13px 48.13px 48.13px 48.13px 48.13px;
  overflow: scroll;
  border: 5px inset #ff4e4e;
}

#grid-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#grid-1 {
  max-height:400px;
  grid-column: 1/2;
}

#info {
  height: 71.25;
  margin-bottom: 5px;
}

#evolution-data {
  display: flex;
  justify-content: center;
  width: 100%;
  border: 1px solid #d5d5d5;
  border-radius: .3rem;
  margin-bottom: 20px;
}

#evolution-grid {
  display: inline-grid;
  grid-auto-columns: 150px;
  grid-auto-columns: 150px;
}

#grid-arrow-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#arrow-img {
  max-width: 50px
}

#h3 {
  font-size: 18px;
}
