body {
  display: grid;
  grid-template-columns: 1fr 550px;
  column-gap: 10px;
}
.library {
  grid-column: 2/3
}
.left-padding{
  padding-left: 20px;
}
.top-padding{
  padding-top: 20px;

}
.grid-container {
  width: 530px;
  height: 245px;
  margin-right: 20px;
  display: grid;
  grid-template-columns: 35% 65%;
}
.inventory {
  margin: 20px;
}
#pokemon-form {
  margin: 20px;
}


.thumb-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-left: 5px outset #ff4e4e;
  border-top: 5px outset #ff4e4e;
  border-bottom: 5px outset #ff4e4e;
  border-right: 10px groove #ff4e4e;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0px 2px 5px 0px #cbcbcb;
  background-color: #ff6262;
}

#spacing {
  margin: 4px 0 0 0;
}

.inline {
  display: inline-flex;
  margin: 5px;
}

.grid-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 5px outset #ff4e4e;
  border-top: 5px outset #ff4e4e;
  border-bottom: 5px outset #ff4e4e;
  border-left: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 2px 2px 5px 0px #cbcbcb;
  background-color: #ff6262;

}

.thumbnail {
  width: 100%;
  border-bottom: 1px solid #cbcbcb;

}

img {
  max-width: 100%;
  padding: 15px;

}

.h2 {
  margin-top: 0px;
  font-weight: bold;
  font-size: 20px;
}

.center-text {
  text-align: center;
}


.grid2-container {
  width: 90%;
  height: 80%;
  margin: 0px 20px 20px 20px;
  display: grid;
  grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  overflow: scroll;
  border: 5px inset #ff4e4e;
}

.grid-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-1 {
  grid-column: 1/2;
}

.grid-2 {
  grid-column: 2/3;
}

.image {
  margin: 5px;
}
.lib-title {
  width: 100px;
}

.type-icon {
  display: inline-block;
  width: 66px;
  margin: 2.5px 2.5px 4px 2.5px;
  background: #dbdbdb;
  border: 1px solid #a3a3a3;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: .75rem;
  font-weight: normal;
  line-height: 1.5rem;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
  transition: opacity .4s;
}

.type-normal {
  background-color: #aa9;
}

.type-fire {
  background-color: #f42;
}

.type-water {
  background-color: #39f;
}

.type-electric {
  background-color: #fc3;
}

.type-grass {
  background-color: #7c5;
}

.type-ice {
  background-color: #6cf;
}

.type-fighting {
  background-color: #b54;
}

.type-poison {
  background-color: #a59;
}

.type-ground {
  background-color: #db5;
}

.type-flying {
  background-color: #89f;
}

.type-psychic {
  background-color: #f59;
}

.type-bug {
  background-color: #ab2;
}

.type-rock {
  background-color: #ba6;
}

.type-ghost {
  background-color: #66b;
}

.type-dragon {
  background-color: #76e;
}

.type-dark {
  background-color: #754;
}

.type-steel {
  background-color: #aab;
}

.type-fairy {
  background-color: #e9e;
}

.content-height {
  max-height: 93.72px;
}

.extra-height {
  max-height: 57.95;
}

.card-height {
  max-height: 151.65;
}
