body {
  display: grid;
  grid-template-columns: 1fr 720px;
  column-gap: 10px;
}
th {
  width: 40%;
  text-align: right;
  padding: 10px;
}
td {
  width: 60%;
  padding: 10px;
}

#library {
  grid-column: 2/3;
  height: 400px;
}
#grid-container {
  width: 700px;
  height: 400px;
  margin-right: 20px;
  display: grid;
  grid-template-columns: 35% 65%;
}
#image-card {
  margin: 0;
}
#stats-card {
  margin: 0;
  width: 100%;
  font-size: 20px;
  display: flex;
  justify-content: center;
}

#poke-info-card{
  margin: 0;
  width: 100%;
  font-size: 20px;
  display: flex;
  justify-content: center;
}

#padding {
  padding: 10px;
}
#pokemon-form {
  margin: 20px;
}

#pokedex-data {
  width: 100%;
  display: inline-grid;
  grid-template-columns: 25% 37.5% 37.5%;
  margin-bottom: 20px;
}

#card-width {
  width: 32%;
}

#withdraw-button {
  width: 80%;
}
#spacing {
  margin: 4px 0 0 0;
}

#grid-2 {
  grid-column: 2/3;
  max-height:400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 5px outset #ff4e4e;
  border-top: 5px outset #ff4e4e;
  border-bottom: 5px outset #ff4e4e;
  border-left: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 2px 2px 5px 0px #cbcbcb;
  background-color: #ff6262;

}
#lib-img {
  max-width: 100%;
  max-height: 240px;
  padding: 15px;

}
#grid2-container {
  width: 90%;
  height: 80%;
  margin: 0px 20px 20px 20px;
  display: grid;
  grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
  grid-template-rows: 48.13px 48.13px 48.13px 48.13px 48.13px;
  overflow: scroll;
  border: 5px inset #ff4e4e;
}

#grid-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#grid-1 {
  max-height:400px;
  grid-column: 1/2;
}

#info {
  height: 71.25;
  margin-bottom: 5px;
}

#evolution-data {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 300px;
  border: 1px solid #d5d5d5;
}

#evolution-grid {
  display: inline-grid;
  grid-auto-columns: 150px;
  border-radius: .3rem;
  grid-auto-columns: 150px;
}

#grid-arrow-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-row: 1/2;
}

#arrow-img {
  max-width: 50px
}

.evolution-tiles {
  width: 150px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-row: 1/2;

}

.sprite-size {
  width: 150px;
  height: 150px;
}

.left-padding{
  padding-left: 20px;
}
.top-padding{
  padding-top: 20px;

}

.have-pokemon {
  padding: 10px;
}



.image-cont {
  display: flex;
  justify-content: center;
  max-height: 240px;
}
.image {
  max-width: 100%;
  max-height: 220px;
}


.inventory {
  margin: 20px;
}

.pic-size {
  height: 65px;
}

.thumb-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-left: 5px outset #ff4e4e;
  border-top: 5px outset #ff4e4e;
  border-bottom: 5px outset #ff4e4e;
  border-right: 10px groove #ff4e4e;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0px 2px 5px 0px #cbcbcb;
  background-color: #ff6262;
}

.inline {
  display: inline-flex;
  margin: 5px;
}


.imgcont {
  width: 220px;
  height: 254px;
  border: 5px inset #ff4e4e;
  background-color: white;
  margin: 5px;

}

.thumbnail {
  width: 100%;
}


.h2 {
  margin-top: 5px;
  font-weight: bold;
  font-size: 20px;
}

#h3 {
  font-size: 18px;
}

.center-text {
  text-align: center;
}

.opaque {
  opacity: 0.5;
}


.lib-title {
  width: 100px;
}

.type-icon {
  display: inline-block;
  width: 66px;
  margin: 2.5px 2.5px 4px 2.5px;
  background: #dbdbdb;
  border: 1px solid #a3a3a3;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: .75rem;
  font-weight: normal;
  line-height: 1.5rem;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
  transition: opacity .4s;
}

.type-normal {
  background-color: #aa9;
}

.type-fire {
  background-color: #f42;
}

.type-water {
  background-color: #39f;
}

.type-electric {
  background-color: #fc3;
}

.type-grass {
  background-color: #7c5;
}

.type-ice {
  background-color: #6cf;
}

.type-fighting {
  background-color: #b54;
}

.type-poison {
  background-color: #a59;
}

.type-ground {
  background-color: #db5;
}

.type-flying {
  background-color: #89f;
}

.type-psychic {
  background-color: #f59;
}

.type-bug {
  background-color: #ab2;
}

.type-rock {
  background-color: #ba6;
}

.type-ghost {
  background-color: #66b;
}

.type-dragon {
  background-color: #76e;
}

.type-dark {
  background-color: #754;
}

.type-steel {
  background-color: #aab;
}

.type-fairy {
  background-color: #e9e;
}

.content-height {
  max-height: 93.72px;
}

.extra-height {
  max-height: 57.95;
}

.card-height {
  max-height: 151.65;
}
